*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
*/
html{
    font-size: 18px;
}

:root{
    --pink:hsl(322, 100%, 66%);
    --dark-blue:hsl(192, 100%, 9%);
    --light-blue:hsl(193, 100%, 96%);
    --gray-blue:hsl(208, 11%, 55%);
}

header{
    background-image: linear-gradient(hsla(192, 100%, 96%, 0.603),hsla(192, 100%, 96%, 0.575)),url(./images/bg-hero-desktop.svg);
    background-size: cover;
    width: 100%;
    min-height: 718px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    
}
.btn-effect{
    transition: all .2s;
}
.btn-effect:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.btn-effect:active{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}




.header-desktop-bg{
    width: 100%;
}

.header__top{
    display: flex;
    justify-content: space-between;
    margin-bottom:60px;
    height: 100px;
    align-items: center;
}
.header__top--logo{
    width: 240px;
    
}
.header__top--try-btn{
    
    outline: none;
    border: none;
    padding: 12px 60px;
    background-color: #fff;
    border-radius: 100px;
    font-weight:600 ;
    color: var(--gray-blue);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.header__bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}
.header__bottom--text--h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.header__bottom--text--p{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.header__bottom--img{
    width: 40%;
}
.header__bottom--text--btn{
    width: 250px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--pink);
    font-weight: 600;
    color: var(--light-blue);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
#content{
    width: 100%;
    padding: 120px 100px 300px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.content__box{
    width: 100%;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px ;
    margin-bottom: 30px;
}
.reverse{
    flex-direction: row-reverse;
}
.content__box:last-child{
    margin: 0;
}
.content__box__text{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    padding-left: 50px;
}
.content__box__text__h4{
    font-size: 25px;
    margin-bottom: 15px;
}
.content__box__text__p{
    font-size: 18px;
    color: var(--gray-blue);
}



.content__box__img{
    width: 400px;
}
footer{
    position: relative;
    background-color: var(--dark-blue);
    font-family: 'Open Sans', sans-serif;
    color: var(--light-blue);
    padding:200px 100px 40px;
    font-size: 16px;
    font-weight: 400;
}
.question{
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 60%;
    background-color: #fff;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.question__btn{
    line-height: 60px;
    padding: 0 80px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background-color: var(--pink);
    border-radius: 100px;
    outline: none;
    border: none;
    margin-top: 30px;

}
.footer__logo{
    margin-bottom: 50px;
}
.footer__main{
    display: flex;
    justify-content: space-between;
}
.footer__main a:hover{
    color: rgb(56, 101, 138);
    cursor: pointer;
}

.footer-column:first-child{
    margin: 0;
}
.footer__info{
    display: flex;
    flex-direction: column;
    max-width: 35%;
}
.footer__info__line{
    display: flex;
    margin-bottom: 10px;
    align-items:flex-start;

}
.footer__info__line i{
    color: #fff;
    width: 12px;
    display: block;
    line-height: 27px;
}
.footer__info__line:last-child{
    margin-bottom: 80px;
}
.footer__info__p{
    margin-left: 30px;
}
.footer__link{
    display: flex;
    flex-direction: column;
}
.footer__link__p{
    margin-bottom:20px ;
}
.footer__social{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.footer__social__icon{
    display: flex;
    font-size: 20px;
}
.footer__social__icon>a{
    margin-right: 20px;
    /* padding: 12px 16px;
    border:  1px solid var(--light-blue);
    border-radius: 50%; */
}
.copyright{
    float: right;
    font-size: 12px;
}


@media screen and (max-width:1023px) {
    header{
        padding: 0 30px;
    }
    .header__top--logo{
        width: 30%;
    }
    .header__bottom{
        flex-direction:column;
        
    }
    .header__top--try-btn{
        padding: 8px 30px;
        font-size: 0.8rem;
    }
    .header__bottom--text{
        max-width: 80%;
        align-items: center;
        margin-bottom: 30px;
    }
    .header__bottom--text--h3{
        font-size: 24px;
        text-align: center;
    }
    .header__bottom--text--p{
        font-size: 18px;
        text-align: center;
    }
    .header__bottom--img{
        width: 80%;
    }
    #content{
        padding: 120px 30px 300px ;
    }
    .content__box{
        flex-direction: column-reverse;
        padding: 20px;
        align-items: center;
    }
    .content__box__img{
        width: 80%;
        
    }
    .content__box__text{
        max-width: 100%;
        align-items: center;
        padding: 0;
    }
    .content__box__text__h4{
        font-size: 22px;
        text-align: center;
    }
    .content__box__text__p{
        font-size: 14px;
        text-align: center;
    }
    .question{
        width: calc( 100% - 30px);
        text-align: center;
        
    }
    .question__text{
        font-size: 20px;
    }
    .question__btn{
        padding: 0 50px;
        font-size: 15px;
    }
    footer{
        padding:200px 30px 100px;
    }
    .footer__main{
        flex-direction: column;
    }
    
    .footer__info{
        max-width: 100%;
    }
    .footer__social{
        display: flex;
        align-items: center;
    }
    .footer__social__icon{
        display: flex;
        justify-content:center;
        margin-bottom: 30px;

    }
    .footer__social__icon>a{
        margin: 0 12px;
    }

}
